<script>
    var page = new Paging();
    page.init({
        target: $('#pageTool'),
        pagesize: 10,
        count: 300,
        current: 1,
        callback: function(pagecount, size, count) {
            console.log(arguments)s
            alert('当前第 ' + pagecount + '页,每页 ' + size + '条,总页数：' + count + '页');
            //动态设置总条数 https://github.com/tianxiangbing/paging
            page.render({
                // count: 89,
                current: pagecount
            });
            //这里我写个ajax吧

            //如果你不用ajax分页，你可以直接在这里location.href='xxx.html?page='+pagecount 作跳转，这样的话，页面刷新后，你要传递current进来。
        }
    });
</script>