<!--<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% else %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% endif %}
      {% endif %}

      {% if paginator.total_pages > 1 %}
      <p><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></p>
      {% endif %}
      
      {% if paginator.next_page %}
      <p><a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
      {% endif %}
    </ul>
  </nav>
</div>-->

<div class="container">
  <nav class="pagination" role="pagination">
    {% if paginator.total_pages > 1 %}
    <div id="pageTool" data-totalpages="{{ paginator.total_pages }}" data-nextpage="{{ paginator.next_page }}" data-previouspage="{{ paginator.previous_page }}"></div>
    <script src="{{site.baseurl}}/assets/js/jquery-1.11.2.js"></script>
    <script src="{{site.baseurl}}/assets/js/paging.js"></script>
    <script>
      function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
          var str = url.substr(1);
          strs = str.split("&");
          for (var i = 0; i < strs.length; i++) {
            theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
          }
        }
        return theRequest;
      }

      var page = new Paging();
      if (GetRequest().page) {
        indexpage = GetRequest().page;
      } else {
        indexpage = 1;
      }
      page.init({
        target: $('#pageTool'),
        pagesize: 6,
        count: 7,
        current: indexpage,
        callback: function(pagecount, size, count) {
          console.log(arguments)
          alert('当前第 ' + pagecount + '页,每页 ' + size + '条,总页数：' + count + '页');
          //动态设置总条数 https://github.com/tianxiangbing/paging
          page.render({
            // count: 89,
            current: pagecount
          });
          console.log("123455" + "{{paginator.next_page}}")
          if (pagecount - indexpage > 0) {
            /*for (var i=0;i<pagecount - indexpage;i++){
              next_page = paginator + .next_page
            }*/
            url = '{{ site.baseurl }}/page/{{ paginator.next_page }}/';
          }else {
            url = '{{ site.baseurl }}/page/{{ paginator.previous_page }}/';
          }
          // var index_page = this.current
          /*var pagedata = document.querySelector("#pageTool");
          var totalpages = pagedata.getAttribute('data-totalpages');
          var nextpage = pagedata.getAttribute('data-nextpage');
          var previouspage = pagedata.getAttribute('data-previouspage');
          console.log("当前页数是" + index_page + totalpages +nextpage + previouspage)*/

          location.href = url + '?page='+pagecount
          //这里我写个ajax吧

          //如果你不用ajax分页，你可以直接在这里location.href='xxx.html?page='+pagecount 作跳转，这样的话，页面刷新后，你要传递current进来。
        }
      });
    </script>
    {% endif %}
  </nav>
</div>


<!--<div class="container">
  <nav class="pagination" role="pagination">
    {% if paginator.total_pages > 1 %}
    <div class="page-icon">
      <ul>
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        &lt;!&ndash;<li><span class="page-disabled"><i class="fa fa-caret-left"></i>上一页</span></li>&ndash;&gt;
        <li><span class="page-current">1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a><i class="fa fa-angle-right"></i></a></li>
        &lt;!&ndash;<li><a class="page-next" href="#">下一页<i class="fa fa-caret-right"></i></a></li>&ndash;&gt;
      </ul>
    </div>
    {% endif %}
  </nav>
</div>-->
