<!--<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% else %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% endif %}
      {% endif %}

      {% if paginator.total_pages > 1 %}
      <p><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></p>
      {% endif %}
      
      {% if paginator.next_page %}
      <p><a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
      {% endif %}
    </ul>
  </nav>
</div>-->



<div class="container">
  <nav class="pagination" role="pagination">
    {% if paginator.total_pages > 1 %}
    <div class="page-icon">
      <ul>
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
<!--        <li><span class="page-disabled"><i class="fa fa-caret-left"></i>上一页</span></li>-->
        <li><span class="page-current">1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a><i class="fa fa-angle-right"></i></a></li>
<!--        <li><a class="page-next" href="#">下一页<i class="fa fa-caret-right"></i></a></li>-->
      </ul>
    </div>
    {% endif %}
  </nav>
</div>

<div class="container">
  <nav class="pagination" role="pagination">
    {% if paginator.total_pages > 1 %}
    <div id="pageTool"></div>
    <script>
      var page = new Paging();
      page.init({
        target: $('#pageTool'),
        pagesize: 10,
        count: 300,
        current: 1,
        callback: function(pagecount, size, count) {
          console.log(arguments)
          alert('当前第 ' + pagecount + '页,每页 ' + size + '条,总页数：' + count + '页');
          //动态设置总条数 https://github.com/tianxiangbing/paging
          page.render({
            // count: 89,
            current: pagecount
          });
          //这里我写个ajax吧

          //如果你不用ajax分页，你可以直接在这里location.href='xxx.html?page='+pagecount 作跳转，这样的话，页面刷新后，你要传递current进来。
        }
      });
    </script>
    {% endif %}
  </nav>
</div>


<!--<button class="firstPage" onclick="first_click()" ><img src="./imgs/page-icon/left-end.png"/></button>
<button class="beforePage" onclick="prev_click()" ><img src="./imgs/page-icon/page-left.png"/></button>
<button>第<input id="currentPage" onchange="choose_page()" type="text" value="1"/>页</button>
<button>/&nbsp;&nbsp;&nbsp;共<input id="totalPage" type="button" value="3" readonly="readonly">页</button>
<button class="nextPage" onclick="next_click()"><img src="./imgs/page-icon/page-right.png"/></button>
<button class="lastPage" onclick="last_click()"><img src="./imgs/page-icon/right-end.png"/></button>-->
