<!--<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% else %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% endif %}
      {% endif %}

      {% if paginator.total_pages > 1 %}
      <p><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></p>
      {% endif %}
      
      {% if paginator.next_page %}
      <p><a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
      {% endif %}
    </ul>
  </nav>
</div>-->



<div class="container">
  <nav class="pagination" role="pagination">
    {% if paginator.total_pages > 1 %}
    <div class="page-icon">
      <ul>
        <li><i class="fa fa-angle-left"></i></li>
<!--        <li><span class="page-disabled"><i class="fa fa-caret-left"></i>上一页</span></li>-->
        <li><span class="page-current">1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><i class="fa fa-angle-right"></i></li>
<!--        <li><a class="page-next" href="#">下一页<i class="fa fa-caret-right"></i></a></li>-->
      </ul>
    </div>
    {% endif %}
  </nav>
</div>

<!--<button class="firstPage" onclick="first_click()" ><img src="./imgs/page-icon/left-end.png"/></button>
<button class="beforePage" onclick="prev_click()" ><img src="./imgs/page-icon/page-left.png"/></button>
<button>第<input id="currentPage" onchange="choose_page()" type="text" value="1"/>页</button>
<button>/&nbsp;&nbsp;&nbsp;共<input id="totalPage" type="button" value="3" readonly="readonly">页</button>
<button class="nextPage" onclick="next_click()"><img src="./imgs/page-icon/page-right.png"/></button>
<button class="lastPage" onclick="last_click()"><img src="./imgs/page-icon/right-end.png"/></button>-->
