.blog-archive {
  width: 100%;
  background-color: $white;
  padding: 0 35px 20px;

  h1 {
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
    color: $dark-blue;
  }

  .listing-seperator {
    color: #0085a1;
    font-size: 21px !important;
    &::before {
      margin-right: 5px;
    }
    .tag-text {
      font-weight: 200;
    }
  }

  .post-preview {
    position: relative;
    > a {
      .post-title {
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
      }
    }
    > .post-meta {
      position: absolute;
      right: 5px;
      bottom: 0;
      margin: 0;
      font-size: 12px;
      line-height: 12px;
    }
  }
}